

  <div class="nav-side-menu">
    
      
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    
          <div class="menu-list">
            <div class="brand">Bibliotheque</div>
    
              <ul id="menu-content" class="menu-content collapse out">
                  <li>
                    <a href="/homepage">
                    <i class="fa fa-home fa-lg"></i> Home
                    </a>
                  </li>

                  <li data-toggle="collapse" data-target="#service" class="collapsed">
                    <a href="/users"><i class="fas fa-users"></i>Users <span class="arrow"></span></a>
                  </li>  
                  <ul class="sub-menu collapse" id="service">
                    <li>Members</li>
                    <li>Staffs</li>
                  </ul>

                  <li>
                    <a href="/book">
                    <i class="fas fa-book fa-lg"></i> Books
                    </a>
                    </li>

                  <li>
                    <a href="/borrowing">
                    <i class="fas fa-book-open fa-lg"></i> Borrowings
                    </a>
                    
                  </li>
                  
                  <li>
                    <a href="/show-one-borrowing">
                    <i class="fas fa-book-open fa-lg"></i> One Borrowing
                    </a>
                  </li>


              </ul>
      </div>
    
</div>
  