<form style="border:1px solid #ccc">
    <div class="col-sm-12 sidenav"> 
        <div class="container">
            <h1>Create borrowing</h1>
            <hr>
            <label for="email"><b>Email </b></label>
            <input type="text" placeholder="Enter Email" name="email" required> 

            <label for="email"><b>ID Book </b></label>
            <input type="text" placeholder="Enter Id Book" name="identifiant" required> 
      
            <label >Borrowing Date:</label>
            <input type="date" id="dateEmprunt" name="dateEmprunt">
        
            <label >Return Date:</label>
            <input type="date" id="dateRetour" name="dateRetour">
        
            <div class="clearfix">
              <button type="submit" class="signupbtn">Send</button>
            </div>
          </div>
    </div>
   
  </form>