

  <div class="container">
    <footer>
      <small>
        <section>
          
            <h1>Notre Application de Gestion de Bibliothèque Informatique</h1>
            <h2>Bibliothèque Informatique</h2>
          
  
          <!--<form action="https://tinyletter.com/aworkinglibrary" method="post" target="popupwindow" onsubmit="window.open(`https://tinyletter.com/aworkinglibrary`, 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
            <label for="tlemail">Email address</label>
            <input type="text" name="email" id="tlemail" placeholder="email address" />
            <input type="hidden" value="1" name="embed"/>
            <input type="submit" value="subscribe" />
          </form> -->
  
        </section>
  
        <ul>
          <li><a href="/copyright/">Copyright</a> &copy; Juin 2020 - Groupe 3 - CDA - Module: Application Web Full JavaScript</li>
          <li><a href="mailto:notre@bibliotheque-informatique.com">notre@bibliotheque-informatique.com</a></li>
          <li><a rel="me" href="http://twitter.com/bibliotheque-informatique">@bibliotheque-informatique</a></li>
        </ul>
      </small>
    </footer>
  </div>
