

.jumbotron{
    margin-top: 10px;
}

.card-deck{
    
   
    
}

.card{
    align-items: center;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 40px;
    border: 2px solid black;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.card-img-top{
    width: 100%;
}

.card-body{
    width: 33%;
}