<div class="jumbotron jumbotron-fluid">

    <div class="container">
        <form>
            <div class="form-row">
              <div class="col-3">
                <input type="text" class="form-control" placeholder="City">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="State">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Zip">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Zip">
              </div>
            </div>
        </form>
    </div>
</div>

<div class="card-deck">
    <div class="card">
        <img src="../../../assets/images/borrow2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/images/borrow2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card">
      <img src="../../../assets/images/borrow2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</div>
