
<div class="card">
    <img src="../../../assets/images/borrow2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  
<!-- 
<section class="row">

    <div class="col-lg-3">
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    
    </div> 

</section>
-->


<!-- 
-->

<!-- 
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

-->

<!-- 
<div class="row content">
    <div class="row page-heading">
        <h4>Books</h4>
    </div>

    <div class="row">
        <div class="col-4 card">
            <div class="card-box bg-blue">
                <div class="card-content">
                    <h3>4</h3>
                    <p>One Books</p>
                    <div class="card-icon">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="card-link">
                    <p><a href="http://localhost:4200/show-one-borrowing">View all<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></p>
                </div>
            </div>
        </div>

-->


<!--     
    <p>
        show-one-borrowing works!
    </p>
-->