<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0" id="connexionContainer">
        
            <div class="col-lg-12">
                <form class="card2 card border-0 px-4 py-5">
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Adresse mail</h6>
                        </label> <input class="mb-4" type="text" name="email" placeholder="Entrez une adresse email valide"> </div>
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Mot de passe</h6>
                        </label> <input type="password" name="password" placeholder="Entez votre mot de passe"> </div>
                    <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Se connecter</button> </div>
                </form>
            </div>
        
    </div>
</div>
        